@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@600&family=Lato:wght@300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Prompt:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');

/* =====
Universal
======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/* =====
Navigation
======== */

.nav-container{
    background-color: #0D15AE;
}

.nav-container a{
    color:rgb(193, 193, 193);
}


.nav-container a:hover{
    color: white;
    transition: 200ms all ease-in-out;
}

.nav-container .active a{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: .9em;
    align-items: center;
}

header .logo{
    height: .9rem;
    /* display: inline-block; */
}


header>nav>ul{
    display: flex;
    /* gap: 1.5em; */
    font-size: .5rem;
}

header>nav>ul>li>a{
    display: inline-block;
    padding:  1em;
}

.social-header,.illustration-1{
    display: none;
}



/* =====
Hero
======== */

.hero{
    background-color: #0915C6;
    color:white;
    display: grid;
    text-align: center;
    padding: 3.5em;
}

.hero>.content>h1{
    font-size: 1.9rem;
}

.hero>.content>h3{
    color: #FFA8B8;
    font-size: .6rem;
    margin: 1em 0;
    text-transform: uppercase;
}

.hero>.content>.line{
    height: 3px;
    width: 30%;
    background-color: white;
    display: block;
    margin: 0 auto;
}

section{
    padding: 3.5em 2em;
    text-align: center;
}

.left h2{
    text-transform: uppercase;
    color: #0915C6;
    letter-spacing: .2em;
    font-size: .8rem;
}

h2{
    text-transform: uppercase;
    letter-spacing: .22em;
    font-size: .8rem;
}

/* =====
About Me
======== */

.about-me>.left>p,
p{
    /* margin-top: .5em; */
    /* margin-bottom: 2.3em; */
    font-size: .75rem;
    line-height: 1.4rem;
    color: #6C6C6C;
}


.left>img{
    width: 50%;
    margin: 1.5em 0 .5em 0 ;
}

.right > img{
    display: none;
}

/* =====
Skills
======== */

.skills{
    background-color: #DB6A80;
}

.skills h2{
    color: white;
    margin-bottom: 3em;
}

.skills-container>ul>li{
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1.3em;
}

.icon-container{
    /* width: 30%; */
    height: 3rem;
    display: flex;
    /* margin: auto; */
    place-content: center;
    /* background-color: red; */
    
}

.skills-container>ul>li>h3{
    color: #DB6A80;
    padding: 0.5em 0;
    font-size: .9rem;
}

.skills-container>ul>li>p{
    font-size: .6rem;
    line-height: 1.3rem;
}

/* =====
Featured projects
======== */

.featured-projects > h2{
    color: #0915C6;
    margin-bottom: 3em;
}

.projects-container h4{
    font-size: .6rem;
    /* margin-bottom: 2em; */
}

.projects-container{
    padding: 1em;
    background-color: rgb(230, 230, 230);
    margin-bottom: 1.5em;
    border-radius: .3em;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.105);
}

/* =====
Contact Me
======== */

.contact-me{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.contact-me h3{
    color:#0915C6;
    font-size: .9rem;
    text-transform: uppercase;
}

.contact-me a{
    color: #6C6C6C;
    text-decoration: underline;
    font-size: .7rem;

}

/* =====
Footer
======== */

footer{
    background-color: #0D15AE;
    display: flex;
    justify-content: space-between;
    padding: .9em;
    height: 20vh;
    margin-top: 2em;
}

footer .logo{
    height: .9rem;
}

footer ul{
    display: flex;
    font-size: .5rem;
    gap: 0.5em
}

footer ul li{
    display: block;
    margin: auto;
    background-color: #fff;
    border-radius: 50%;
    
}

footer ul img{
    padding: .3em;
    display: block;
    height: 1.5rem;
}

/* =====
Media Queries
======== */

@media only screen and (min-width: 800px){ 
    
    /* =====
Hero
======== */


    .hero>.content>h1{
        font-size: 3rem;
    }

    .hero>.content>h3{
        font-size: 1.3rem;
        margin: .5em 0%
    }

    /* =====
About Me
======== */

    .left img{
        display: none;
    }

    .right img{
        display: inline-block;
        width: 70%;
        margin: 1.5em 0 .5em 0 ;

    }

    .about-me{
        display: grid;
        grid-template-columns: 50% auto;
        text-align: left;
        align-items: center;
        /* gap: -1em; */
    }

    .projects-container{
        display: grid;
        /*  */
        align-items: center;
        /* margin-bottom: 1.5em; */

    }

    .projects-container-1,.projects-container-3{
        display: grid;
        grid-template-columns: 60% auto;
        text-align: left;
    }

    .projects-container-2{
        display: grid;
        grid-template-columns: auto 60%;
        text-align: right;

    }

    .projects-container-2>a{
        order: 2;
    }


    .left{
        order: 2;
    }


    .left h2, 
    h2,
    .featured-projects > h2{
        font-size: 1.2rem;
    }

    .about-me>.left>p,
    p{
        margin-top: .5em;
        /* margin-bottom: 2.3em; */
        font-size: .8rem;
        line-height: 1.8rem;
        color: #6C6C6C;
    }

    .skills{
        height: 60vh;
        /* margin-bottom: 10em; */
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    }

    .skills-container li{
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.141);
    }

    .featured-projects{
        margin-top: 10em;
        box-shadow: none;
    }

    .projects-container{
        background: none;
        box-shadow: none;
    }

    .projects-container h4{
        text-align: left;
        margin-left: 1em;
        font-size: 1.5rem;
    }

    .logo{
        height: 3rem;
    }



}

@media only screen and (min-width:1050px){

    header .logo,
    footer .logo{
        height: 1.5rem;
    }

    header>nav>ul{
        display: flex;
        gap: 1.5em;
        justify-content: center;
        font-size: .7rem;
    }

    .nav-container li{
        font-size: .8rem;
        z-index: 999999;
        display: block;
    }


    .nav-container{
        display: grid;
        grid-template-columns: 75% auto;
        background-color: unset;
        /* padding: 1em; */
    }

    .nav-container header{
        background-color: #0D15AE;
        padding: 1em 1.3em 1em 4em;
    }

    .social-header{
        padding: 1.3em 1.3em 1.3em 3em;
        display: block;
    }

    .social-header ul{
        display: flex;
        justify-content: center;
        /* gap: .1em; */

    }

    .social-header ul img{
        width: 70%;
    }

    .social-header ul img:hover{
        transform: translate(0 ,-3px);
        transition: 200ms all ease-in-out;
    }

    .hero{
        display: grid;
        grid-template-columns: 75% auto;
        background-color: unset;
        padding: 0;
        /* margin-bottom: -8em; */
        height: 88vh;
        overflow: hidden;
    }

    .hero .content{
        text-align: left;
        background-color:#0915C6;
        padding: 0;
        padding: 6em 8em 6em 4em;
        /* height: 80VH; */
        position: relative;
    }

    .hero .content h1{
        font-size: 3.5em;
        line-height: 109.5%;
        
    }

    .hero .content p{
        position: relative;
        font-size: 1.8rem;
    }

    .hero .content .line{
        position: absolute;
        width: 100px;
        height: 4px;
        display: inline-block;
    }

    .illustration-1{
        display: unset;
        position: absolute;
        height: 80%;
        bottom: 0%;
        right: 0;
        left: 35%;
        overflow: hidden;
    }

    /* .about-me{
        /* margin-top: 10em ; */
        /* margin: 10em 4em 1em; */

    .skills-container ul{
        display: grid;
        grid-template-columns: 25% 25% 25%;
        gap: 1.8em;
        justify-content: center;
    }



    .section{
        padding: 4em;
    }

    footer{
        height: 20vh;
        padding: 1em 4em;
    }
    
    footer ul img{
    display: none;
    }

}

@media only screen and (min-width:1350px){
    .hero .content h1{
        font-size: 5.2rem;
        line-height: 109.5%;
    }

    .social-header li a{
        display: block;

    }

    .about-me h2,  .skills h2, .featured-projects h2{
        font-size: 1.7rem;
    }

    .about-me p,  .skills p{
        font-size: 1rem;
    }

    .illustration-1{
        display: unset;
        position: absolute;
        height: 100%;
        bottom: -7%;
        right: 0;
        left: 45%;

    }

    .about-me{
        padding: 5EM 4EM ;
    }


    .about-me>.left>p{
        font-size: 1.2rem;
        line-height: 2.2rem;
    }

    .skills-container ul li h3,
    contact-me h3{
        font-size: 1.5rem;
    }

    .skills-container ul li p{
        font-size: 1rem;
        line-height: 1.7rem;
    }

    .featured-projects{
        padding-top: 10em;
    }

    .icon-container{
    /* width: 30%; */
    height: 5rem;
    display: flex;
    /* margin: auto; */
    place-content: center;
    /* background-color: red; */
    
    }
    
    .featured-projects h4{
        font-size: 4rem;
        line-height: 3.3rem;
    }
    
    .contact-me a{
        font-size: 1rem;
    }



    header .logo,
    footer .logo{
        height: 2rem;
    }

    header li{
        font-size: .9rem;
    }
}

